
      <tr>
        <td><%= event.title %></td>
        <td><%= event.creator.name %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event, class: 'text-success' %></td>
            <td><%= editing_events(event, current_user) %></td>
            <td><%= deleting_events(event, current_user) %></td>
      </tr>