<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Event:</th>
      <th>Creator:</th>
      <th>Date</th>
      <th colspan='4'></th>
    </tr>
  </thead>

  <h4>Upcoming Events</h4>
  <tbody>
    <% @events.coming_events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.creator.name %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event, class: 'text-success' %></td>
        <% if user_signed_in? %>
          <% if event.creator.id == current_user.id %>
            <td><%= link_to 'Edit', edit_event_path(event), class: 'text-warning' %></td>
            <td><%= button_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td>
          <%end%>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Event:</th>
      <th>Creator:</th>
      <th>Date</th>
      <th colspan='4'></th>
    </tr>
  </thead>

  <h4>Old Events</h4>
  <tbody>
    <% @events.old_events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.creator.name %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event, class: 'text-success' %></td>
            <td><%= indexingEvents(event) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>