<p id="notice"><%= notice %></p>
  <strong><span class='h5 text-warning'>Creator</span> :<%= @event.creator.name %></strong> <br>
  <strong><span class='text-warning'>Event Date:</span> <%= @event.date%> </strong><br>
  <strong><span class='h5 text-warning'>Event title:</span> <%= @event.title %></strong> <br>
  <% if @event.date < Date.today%>
    <strong class='h5 text-danger'>THIS IS AN OLD EVENT! YOU CAN'T ATTEND IT ANYMORE</strong>
  <%end%>
  <br>
  <br>
  <%if @event.attendances.length > 0%>
  <h4 class='text-success'>Attendees</h4>
    <% @event.attendances.each do |e| %>
      <%= e.name %> <br>
      <% if user_signed_in? %>
        <% if current_user.id != @event.creator.id && e.id != current_user.id && @event.date > Date.today %>
          <%= form_for @attendance do |form| %>
            <%= form.hidden_field :event_id, value: @event.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit %>
          <%end%>
        <%end%>
    <% end %>
    <%end%>
  <%else%>
  <% if user_signed_in? %>
        <% if current_user.id != @event.creator.id && @event.date == Date.today %>
          <%= form_for @attendance do |form| %>
            <%= form.hidden_field :event_id, value: @event.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit %>
          <%end%>
        <%end%>
  <%end%>
  <%end%>
